@model DataAccess.Models.SubCategory;

<!-- Grid Section -->
    <a href="@Url.Action("Index", "Products")" class="grid-item">
        <div class="text-wrapper">@Model.SubCategoryName</div>
    </a>


