@model ProductsViewModel
@{
}

<div class="container sub-category-page">

	<div class="header-box">
		<h1>@Model.PageTitle</h1>
	</div>

    <div class="sort-filter">

        <div class="filtering">
            <i class="fa-solid fa-filter"></i>
            Add filter
        </div>

        <div class="sorting">
            <form method="post" class="sort-form">
                <select asp-for="SortOrder" class="sort-box">
                    <option value="ProductNameAsc">Product name A-Z</option>
                    <option value="ProductNameDesc">Product name Z-A</option>
                    <option value="ProductPriceDesc">Highest to lowest price</option>
                    <option value="ProductPriceAsc">Lowest to highest price</option>
                </select>
                <input type="submit" value="Sort products" class="sort-button" />
            </form>


            @* <i class="fa-solid fa-sort"></i>

            Sort by: *@
           @*  @Html.DropDownList("OrderBy", new List<SelectListItem>

            {
            new SelectListItem{ Text="A-Z", Value = "1" },
            new SelectListItem{ Text="Z-A", Value = "2" }
            }, " Sort product by ")*@

       
        </div>

    </div>


	<div class="product-box">
		@foreach (var product in Model.ProductList)
		{
			<partial name="_ProductTilePartial" model="product" />
		}
	</div>

    <hr />

    <partial name="_BackButtonPartial" />

</div>