@model SearchViewModel
<a class="back-link" href="@Url.Action("Index", "Home")">
	<i class="fa-solid fa-backward"></i> Back
</a>


<h1>Sökresultat för "@Model.Query"</h1>


@if (Model.Results.Count == 0)
{
	<p>Inga produkter hittades.</p>
}
else
{
	<section class="product-section">
		<div class="container product-container">



			<div class="product-container-items">
				@foreach (var product in Model.Results)

				{
					<partial name="_ProductTilePartial" model="product" />
				}

			</div>

		</div>
	</section>



}