@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<section class="featured">
    <div class="container">
        <h1>Best Sellers</h1>
        <div class="product-container">
            @foreach (var product in Model.Products.Take(3))
            {
                <partial name="_DeviceTilePartial" model="product" />
            }

        </div>
    </div>
</section>


