@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<section class="featured">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Featured Products</h1>
			<a href="~/Product/FeaturedProducts" class="btn btn-primary">View all</a>


		</div>
		<div class="product-container">
			@foreach (var product in Model.FeaturedProducts.Take(4))
			{
				<partial name="_DeviceTilePartial" model="product" />
			}
		</div>
	</div>
</section>




<section class="featured">
    <div class="container">
        <h1>Best Sellers</h1>
        <div class="product-container">
            @foreach (var product in Model.BestSellers.Take(3))
            {
                <partial name="_DeviceTilePartial" model="product" />
            }

        </div>
    </div>
</section>


