@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<section class="product-section">
    <div class="container product-container">
        
        <div class="product-container-header">            
            <h1>Best Sellers</h1>
            <div>
                View All >
                <a asp-page="" />
            </div>
        </div>
        
        <div class="product-container-items">
            @foreach (var product in Model.BestSellers.Take(4))
            {
                <partial name="_DeviceTilePartial" model="product" />
            }

        </div>

    </div>
</section>


