@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<section class="product-section">
    <div class="container product-container">

        <div class="product-container-header">
            
            <h1>Best Sellers</h1>
           
            <a asp-page="/Products">
                View All >
            </a>

        </div>

        <div class="product-container-items">
            @foreach (var product in Model.BestSellers.Take(4))
            {
                <partial name="_ProductTilePartial" model="product" />
            }

        </div>

    </div>
</section>






<section class="product-section">
	<div class="container product-container">

		<div class="product-container-header">
            
			<h1>Best Seller</h1>

			<a asp-page="/Products/FeaturedProducts">
				View All >
			</a>

		</div>

		<div class="product-container-items">
			@foreach (var product in Model.FeaturedProducts.Take(4))
			{
				<partial name="_ProductTilePartial" model="product" />
			}

		</div>

	</div>
</section>








