@page
@model ManeroWebApplication.Pages.Categories.IndexModel
@{
}

<section class="categories">

    <div class="main-categories-nav">
        <div> </div>
        <div> </div>
        <div> </div>
    </div>
</section>