.best-sellers {
    border: 5px dashed red;
    .container {
        h1 {
        }
        product-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            
        }
    }
}
