﻿

.product-section {
    border: 5px dashed red;

    .product-container {
        .product-container-header {
            display: flex;
            justify-content: space-between;

            h1 {
            }

            a {
                border: 2px dotted blue;
            }
        }

        .product-container-items {
            border: 3px dashed green;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (min-width: 1120px) {
    .product-section {
        .product-container {
            h1 {
            }

            .product-container-items {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}
