body {
}


.cart-badge {
    background-color: #ff7373;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 35px;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    font-size: 0.8rem;
    z-index: 99;
}


.back-nav {
    text-decoration: none;
    color: black;
    margin: 0px 0px 10px 0px;
}
