.cart-badge {
  background-color: #ff7373;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 35px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  font-size: 0.8rem;
  z-index: 1;
}

.back-nav {
  text-decoration: none;
  color: black;
  margin: 0px 0px 10px 0px;
}

header {
  box-shadow: 0 0 3px 1px rgb(192, 192, 192);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
}
header nav .nav-content {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
header nav .nav-content .nav-box {
  width: 5rem;
  text-align: center;
}
header nav .nav-content .openbtn {
  font-size: 20px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  background-color: white;
}
header nav .nav-content .openbtn:hover {
  background-color: #444;
}
header nav .nav-content .logo a {
  color: black;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
}
header nav .nav-content .shop-cart {
  position: relative;
  font-size: 22px;
}
header nav .nav-content .shop-cart a .shop-icon {
  color: black;
}
header .sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
header .sidebar .nav-item {
  margin-left: 3rem;
}
header .sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181 !important;
  display: block;
  transition: 0.3s;
}
header .sidebar a:hover {
  color: #f1f1f1;
}
header .sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header .cart {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 99;
  font-size: 15px;
  color: #818181 !important;
  /*    .nav-item {
      margin-left: 3rem;
  }*/
}
header .cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181 !important;
  display: block;
  transition: 0.3s;
}
header .cart a:hover {
  color: #f1f1f1;
}
header .cart .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
header .cart .cart-active {
  right: 0;
  transition: 0.5s;
}
header .cart .cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .cart .cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}
header .cart .cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
header #main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.product-tile {
  max-height: fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  margin: 10px;
}
.product-tile .product-image {
  margin-bottom: 10px;
  height: 140px;
  width: 140px;
  align-self: center;
}
.product-tile .product-image a {
  width: inherit;
  height: inherit;
}
.product-tile .product-image a img {
  width: inherit;
  height: inherit;
  object-fit: fill;
}
.product-tile .product-image:hover .product-buttons {
  display: flex;
}
.product-tile .product-image .product-buttons {
  position: relative;
  z-index: 1;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  right: 13px;
  bottom: 150px;
  width: fit-content;
}
.product-tile .product-image .product-buttons i {
  font-size: 20px;
  text-decoration: none;
  margin: 5px;
  color: #DBE3F5;
}
.product-tile .product-image .product-buttons .heart:hover {
  color: red;
}
.product-tile .product-image .product-buttons .buy:hover {
  color: cornflowerblue;
}
.product-tile .product-rating {
  margin-bottom: 10px;
  color: #FFBE00;
}
.product-tile .product-name {
  margin-bottom: 10px;
}
.product-tile .product-price {
  margin-bottom: 5px;
}
.product-tile .product-price-sales {
  margin-bottom: 5px;
  color: red;
}
.product-tile .sale-badge {
  background-color: green;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.categories {
  height: 100%;
}
.categories .main-categories-nav {
  margin-top: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.categories .main-categories-nav .main-categories-nav-box {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .main-categories-nav .main-categories-nav-box .main-categories-nav-box-btn {
  width: 100%;
  padding: 9px 0px 9px;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.categories .main-categories-nav .main-categories-nav-box .main-categories-nav-box-btn:hover {
  background-color: #666;
  color: white;
}
.categories .main-categories-nav .main-categories-nav-box .active {
  background-color: #666;
  color: white;
}
.categories .grid-container {
  margin-top: 20px;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px;
}
.categories .grid-container .grid-item {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  height: 180px;
  padding: 20px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: 600;
  background-color: #6d7987;
  position: relative;
}
.categories .grid-container .grid-item:nth-child(3) {
  grid-column: span 2;
}
.categories .grid-container .grid-item .text-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.categories .grid-container .grid-item:hover {
  background-color: #9aa7b8;
}

.product-section {
  margin: 30px 0px 5px 0px;
}
.product-section .product-container .product-container-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.product-section .product-container .product-container-header a {
  text-decoration: none;
  color: black;
}
.product-section .product-container .product-container-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
}

@media (min-width: 1120px) {
  .product-section .product-container .product-container-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.offer-section {
  background-color: #ff9900;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin: 20px 0px 20px 0px;
}

.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offer-text {
  text-align: center;
}

.btn-sales {
  background-color: #fff;
  color: #ff9900;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  font-size: 1.2em;
}

.btn-sales:hover {
  background-color: #ffcc00;
}

.product-container-sales {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.product-text-part {
  text-decoration: none;
}

.product-page-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-row-gap: 10px;
  justify-content: flex-start;
  align-content: flex-start;
}
.product-page-container .product-image {
  justify-self: center;
}
.product-page-container .product-image img {
  width: 55vw;
}
.product-page-container .product-name {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 2em;
}
.product-page-container .product-name .heart {
  font-size: 20px;
  align-self: center;
  margin-right: 10px;
}
.product-page-container .product-name .heart:hover {
  color: red;
}
.product-page-container .product-star-rating {
  font-size: 10px;
  color: #FFBE00;
}
.product-page-container .product-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  text-align: center;
}
.product-page-container .product-price .product-amount {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 15px;
  font-size: 1.2em;
}
.product-page-container .product-price .product-amount #current-amount {
  align-self: end;
}
.product-page-container .product-price .product-amount .amount-button {
  text-decoration: solid;
  background-color: transparent;
  border: none;
}
.product-page-container .product-buttons {
  display: flex;
  flex-direction: column;
}
.product-page-container .product-buttons .size-button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  text-align: center;
  border: none;
  border-radius: 100px;
  box-shadow: 0 0 0 1px lightgray;
}
.product-page-container .product-buttons .size-button:focus {
  background-color: lightgray;
}
.product-page-container .product-buttons .color-button {
  height: 40px;
  width: 40px;
  background-color: red;
  border: none;
  border-radius: 100px;
}
.product-page-container .product-buttons .color-button:focus {
  box-shadow: 0 0 0 5px lightgray;
}
.product-page-container .product-color {
  display: flex;
  gap: 20px;
  text-align: center;
}
.product-page-container .product-color .color-button {
  height: 30px;
  width: 30px;
  background-color: red;
  border: none;
  border-radius: 100px;
}
.product-page-container .product-color .color-button:focus {
  box-shadow: 0 0 0 5px lightgray;
}
.product-page-container .add-to-cart-button {
  background-color: black;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px;
}
.product-page-container .product-reviews {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-page-container .product-reviews .review-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
.product-page-container .product-reviews .review-top .view-reviews-button {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.horizontal-button-container {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.product-price {
  margin-bottom: 5px;
}

.product-price-sales {
  margin-bottom: 6px;
  color: red;
}

.mobile-footer {
  display: none;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .mobile-footer {
    display: flex;
    justify-content: space-around;
  }
}

.nav-item {
  background: none;
  border: none;
  font-size: 24px;
  color: #bbb;
}
.nav-item:active, .nav-item:focus {
  color: #333;
  outline: none;
}

.sub-category-page .header-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.sub-category-page .sort-filter {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 10px 0;
}
.sub-category-page .product-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
}

@media (min-width: 760px) {
  .sub-category-page .header-box {
    margin: 30px;
  }
  .sub-category-page .product-box {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1120px) {
  .sub-category-page .header-box {
    margin: 40px;
  }
  .sub-category-page .product-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
