@page
@model ManeroWebApplication.Pages.Products.BestSellersModel
@{
}



<section class="featured">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Best Sellers</h1>

		</div>
		<div class="product-container">
			@foreach (var product in Model.BestSellers)
			{
				<partial name="_ProductTilePartial" model="product" />
			}
		</div>
	</div>
</section>