@page
@model ManeroWebApplication.Pages.Product.FeaturedProductsModel
@{
}




<section class="featured">
	<div class="container">
		<div class="d-flex justify-content-between align-items-center">
			<h1>Featured Products</h1>
			
		</div>
		<div class="product-container">
			@foreach (var product in Model.FeaturedProducts)
			{
				<partial name="_ProductTilePartial" model="product" />
			}
		</div>
	</div>
</section>