@page
@model ManeroWebApplication.Pages.Products.IndexModel
@{
}

	<div class="container sub-category-page">

		<div class="d-flex justify-content-between align-items-center header-box">
			<h1>@Model.ProductCategory</h1>
		</div>

		<div class="product-box">
			@foreach (var product in Model.ProductList)
			{
				<partial name="_ProductTilePartial" model="product" />
			}
		</div>

	</div>