#confirmation-container {
    display: flex;
    justify-content: center;


    .order-confirmation {
        align-items: center;
        text-align: center;
        border-radius: 12px;
        padding: 2rem;
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100vw;
        max-width: 600px;
        box-sizing: border-box;
        margin: 2rem;


        i {
            font-size: 100px;
        }

        &.success {
            color: #22C55E;

            i {
                color: #22C55E;
            }
        }

        &.failed {
            color: #EF4444;

            i {
                color: #EF4444;
            }
        }

        h1 {
            color: #1F2937;
            margin: 0.5em 0;
        }

        p {
            color: #1F2937;
            margin-bottom: 1.5em;
        }

        .button-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;
        }

        button {
            background-color: #111827;
            color: white;
            border: none;
            padding: 1em 2em;
            border-radius: 8px;
            cursor: pointer;
            font-size: 1rem;
            margin: 0.5em 0;
            width: auto;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
