.order-section {
    .header-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        h1 {
        }



        a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181 !important;
            display: block;
            transition: 0.3s;

            &:hover {
                color: #f1f1f1;
            }
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }


        .cart-active {
            right: 0;
            transition: 0.5s;
        }

        .cart-title {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            margin-bottom: 1rem;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }

        .cart-box {
            display: grid;
            grid-template-columns: 32% 50% 18%;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            padding-bottom: 10px;
        }

        .cart-img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border: 2px solid rgba(0,0,0,0.1);
            padding: 5px;
        }


        .detail-box {
            display: grid;
            row-gap: 0.5rem;
        }

        .price-box {
            display: flex;
            justify-content: space-between;
        }

        .cart-product-title {
            font-size: 1rem;
            text-transform: uppercase;
            color: white !important;
            font-weight: 500;
        }

        .cart-price {
            font-weight: 500;
        }

        .cart-quantity {
            border: 1px solid rgba(0,0,0,0.1);
            outline: none;
            width: 2.4rem;
            text-align: center;
            font-size: 1rem;
        }

        .cart-remove {
            font-size: 20px;
            color: red !important;
            cursor: pointer;
        }

        .total {
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
        }

        .total-title {
            font-size: 1rem;
            font-weight: 600;
            color: white !important;
        }

        .total-price {
            margin-left: 0.5rem;
            color: white !important;
        }


        .btn-box {
            margin-top: 3rem;
            display: flex;
            justify-content: center;

            .btn-buy {
                padding: 12px 20px;
                background-color: #2f3542;
                color: #fff;
                border: none;
                font-size: 1rem;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}
