.sub-category-page {
    .header-box {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;

        h1 {
        }
    }

    .sort-filter {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 10px 0;

        .filtering {
            text-align: center;
            background-color: #e4dfdf;
            border: none;
            border-radius: 7px;
            margin: 2px;
            padding: 5px;
        }

        .sorting {
            display: flex;
            justify-content: flex-start;

            .sort-form {
                display: flex;
                justify-content: flex-end;

                .sort-box {
                    border: 1px solid #e4dfdf;
                    border-radius: 7px;
                    margin: 2px;
                    padding: 5px;
                }

                .sort-button {
                    background-color: #e4dfdf;
                    border: none;
                    border-radius: 7px;
                    margin: 2px;
                    padding: 5px;
                }
            }
        }
    }

    .product-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-self: center;
    }
}

@media (min-width: 760px) {
    .sub-category-page {
        .header-box {
            margin: 30px;

            h1 {
            }
        }

        .sort-filter {
            .filtering {
            }

            .sorting {
                .sort-form {
                    .sort-box {
                    }

                    .sort-button {
                    }
                }
            }
        }

        .product-box {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (min-width: 1120px) {
    .sub-category-page {
        .header-box {
            margin: 40px;

            h1 {
            }
        }

        .sort-filter {
            .filtering {
            }

            .sorting {
                .sort-form {
                    .sort-box {
                    }

                    .sort-button {
                    }
                }
            }
        }

        .product-box {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}
